.mtxt {
    color: grey;
}

.mgrid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    /* Create 4 columns with equal width */
    grid-template-rows: repeat(4, 200px);
    /* Create 4 rows with equal height */
    background-color: none;
    padding: 25%;
    padding-top: 2%;
    padding-bottom: 2%;

}

.mgrid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mimage {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 0;
}



.mh1 {
    color: orangered;
    font-size: medium;
}

.mh {
    color: black;
    font-style: bold;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mbutton {
    width: 50px;
    height: 1px;
    background-color: orange;
    border: none;
    border-radius: 50px;
}


.mtxt {
    margin-bottom: -50px;
}

.mfont {
    font-size: medium;
}

.mtxt {
    font-size: small;
}

.mh1 {
    font-size: large;
    margin-top: auto;

}

.mmain {
    display: flex
}

.mh4 {
    text-align: center;
    font-weight: bold;
    /* margin-bottom: 20px; */
    width: 50%;
    /* text-align: center; */
}

.mh6 {
    color: grey;

}

/* TEstimonial and Reviews */
.zreviews {
    /* margin-left: 500; */
    display: flex;
    flex-flow: row nowrap;
}

/* .iframe{
   
} */
.zopinion {
    margin-left: 25%;
    flex-flow: column;
}

.mtxt2 {
    padding: 0% 2% 1% 5%;
    text-align: justify;
    line-height: 1.5em;
    letter-spacing: 1.5px;
}

.mcontainer1 {

    margin: 5% 30% 5% 30%;

}

.m_bgrdblog {
    width: max-content;
    height: max-content;
    width: auto;
    margin: 0 100ev 0 100ev;
    clip-path: polygon(50% 4.39%, 100% 0%, 100% 92.25%, 0% 100%, 0% 7.27%);
    background-color: #f6f7f6
}

.mh1 {
    margin-bottom: 10px;
}



.mcontact {
    margin-right: 15px;
}

.mtxt1,
.mmain {
    margin-bottom: 10px;
    margin: 5% 30% 5% 30%;

}

.mbutton {
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: orange;
    border: none;
    border-radius: 50px;
    padding-left: 10%;
    margin-left: 45%;

}

/* media screen less than 501px */
@media screen and (max-width: 499px) {
    .zreviews {
        display: flex;
        flex-flow: column nowrap;
    }

    .iframe {
        margin-left: 05%;
        width: "220%";
        height: "350px"

    }

    .zopinion {
        margin-left: 07%;
        flex-flow: column;
    }

    .mgrid-container {
        /* Simplified grid layout */
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(8, auto);
        background-color: none;
        padding: 5%;
        height: fit-content;
    }

    .mimage {
        width: 100%;
        height: fit-content;
    }

    /* Adjust font sizes, margins, and other styles as needed */

    /* Use flexbox for horizontal spacing */
    .mmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: fit-content;
    }

    /* Increase text line height for better readability */
    .mtxt1 {
        line-height: 1.6;
    }

}