.A-Second-Container{
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 50px; 
}

.A-AboutUs-Container{
   max-width: 300px ;
   padding: 5%;
   
}

.A-AboutUs-Container p {
  padding-bottom: 50px;

}


.A-Quick-Container{
padding: 5%;
margin-top: -10%;
  
}

.A-Quick-Container a {
  display: list-item;
  list-style: none;
  padding-bottom: 10%;
  color: orange;
}


.A-Subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center; 
  padding: 50px; 

}

.A-Subscribe p {
  justify-content: center;
  max-width: 550px;
}
.A-Form {
  display: flex;
  align-items: center; 
}

#A-email{ 
  width: 350px;
  height: 30px;
  margin-right: 10px;

}
#A-button{
  width:170px;
  height: 36px;
  background-color: orange;
  color: rgb(250, 250, 250);
  border:none;
 

}
.A-Copy-Rights{
  display: flex;
  padding-top: 80px;
  align-items: center;
  justify-content: center; 

}

.A-imgs{
  width: 20px;
  height: 20px;
  padding: 5px;

}


@media (max-width: 500px) {
  #A-email{ 
      width: 300px;
      height: 30px;
      margin-right: 10px;
    
  }
   #A-button{
      width:100px;
      height: 36px;
      background-color: orange;
      color: rgb(250, 250, 250);
      border:none;
     
  
   }
   .A-Second-Container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      padding: 50px; 
  }

  
  .A-AboutUs-Container{
      max-width: 350px ;
      text-align: center;}

   .A-imgs{
          width: 20px;
          height: 20px;
          padding: 5px;
          
      
      }
      
.A-Opening-Contact-Container{
  display: flex;
  padding: 10%;
  justify-content: center; 
 

}

.A-images{
  padding-top: -20% ;
}

.A-Opening-Container{
  padding-left: 20%;
}

.A-Contactinfo-Container{
  padding-left: 20%;
}

.A-Quick-Container a{
  display: inline;
  padding:5px;
}

.A-Quick-Container{
  padding-top: 10%;
}

.A-Copy-Rights{
  display: flex;
  padding-top:5px;
  align-items: center;
  justify-content: center; 

}
  
}