.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
    z-index: 100;
	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	color: #FFF;
	font-size: 2rem;
}

.h_mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 85%;
	z-index: 98;
	opacity:0;
	transform: translateY(-100%);
	background-color: orange;
	color: #FFF;
	transition: 0.5s;
}

.h_mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.h_mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.5s;
}

.h_mobile-menu a:hover {
	color: orange;
	background-color: #FFF;
}
@media (min-width: 600px) {
	.h_mobile-menu, .hamburger {
		display: none;
	}

	.h_menu {
		display: flex;
	}
}